* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

/* NAV BAR SECTION */

.header-section {
  display: flex;
  justify-content: space-around;
  height: 5rem;
  background:white;
  align-items: center;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  
  
}


.home-btn{
  display: flex;
  list-style: none;
  gap: 2em;
  
}

.home-btn a {
  text-decoration: none;
  position: relative;
  transition: color .4s;
  color: hsl(233, 8%, 62%);
}

.home-btn a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: green;
  position: absolute;
  left: 0;
  bottom: -.5rem;
  transition: width .3s;

}
.home-btn a:hover{
  color: green;

}
.home-btn a:hover::after {
  width: 100%;
}


.request-btn{
background: linear-gradient(117deg,hsl(136, 65%, 51%)0%, hsl(192, 70%, 51%)100%);
border: none;
padding:1rem 2rem;
border-radius: 2rem;
color: white;
margin-right: 1.5rem;
}

.request-btn:hover{
  background: linear-gradient(117deg,hsl(136, 65%, 65%)0%, hsl(192, 70%, 65%)100%); 
}






              /* FIRST SECTION */



.section-one {
display: flex;
justify-content: space-between;
align-items: center;
background: hsl(0, 0%, 98%);


}



.intro-text {
 padding-left: 10rem ;
 padding-right: 6rem;

}

.intro-text h1{
  font-size: 3rem;
  font-weight:normal;
  margin-bottom: 2rem;
  
}

.intro-text p{
  color: hsl(233, 8%, 62%);
  margin-bottom: 2rem;
  
}


.intro-image .mockup-bg img{
  width: 100%;
  position: relative;
  left: 11rem;
  top: -4rem;
}



.intro-image .mockup-img img{
  position: absolute;
  z-index: 1;
  width: 42%;
  top: -1rem;
  right: 8rem;
  margin-right: -13rem;
}






             /* SECTION TWO */

.section-two {
  background: hsl(220, 16%, 96%);
  padding: 5rem 10rem;
  margin-top: -5rem;
}

.section2-text {
  margin-bottom: 4rem;
}

.section2-text h1{
  font-size: 2rem;
  font-weight:normal;
  margin-bottom: 2rem;
}
.section2-text p{
  color: hsl(233, 8%, 62%);
  width: 50%;
}

.card-preview p{
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  line-height: 1.3rem;
  width: 73%;
  margin-top: 1rem;
}





.card-preview{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  
}
.card h3{
  margin-top: 2rem;
  font-weight:500;

}


           /* SECTION THREE */

.section-three {
  background: hsl(0, 0%, 98%);
  padding: 5rem 10rem;
  margin-bottom: 10rem;
  
  
  
}

.article-card{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  min-width:200px ;
  max-height: 150px;
  gap: 1rem;
  

}

.art-card img {
  
min-width: 250px;
 max-height:150px ;
 object-fit: cover;
 margin: 0 auto;

  /* width: 100%
  ;
  object-fit: cover;
  height: auto;
  display: block;
   */
}





/* FOOTER SECTION  */

footer{
  background:  hsl(233, 26%, 24%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 5rem 10rem;
}

.social-icon {
  margin-top: 3rem;
}
.social-icon img {
  margin-right: 0.5em;
}


.footer-text {
  display: flex;
  gap: 3rem;
}

footer ul {
  list-style: none;
}

footer ul a{
  color: white;
  text-decoration: none;
  list-style: none;
}

footer a:hover {
  color: aqua;
}
footer li {
  margin-bottom: 1rem;
}

footer p{
  color: white;
}

.footer-btn {
  padding-left: 8rem;
}
.footer-btn button{
  /* margin:0 0 2rem 4rem; */
}